<div class="main-content-equipment" style="margin-top:30px;">    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="nav-tabs-equipment">
    </ul>
    <!-- Tab panes -->
    <div class="tab-content" id="tab-content-equipment">
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <ul class="pull-right">
                <li style="display: inline;">
                    <button type="submit" class="btn btn-default" id="submit_queue" style="width:150px;">Submit</button>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="../javascripts/equipment_new_queue.js"></script>