<!DOCTYPE html>
<link href="../bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css">
<link href="../stylesheets/newQueue.css" rel="stylesheet">
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
    </head>
    <body>
        <style>
        input[disabled]:hover {
        cursor: default;
        }
        </style>
        <%- include nav.ejs %>
        <div class="container">
            <div class="row">
                <div class="btn-group btn-breadcrumb">
                    <a href="" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
                    <a id="main-sub-nav" class="btn btn-success sub-nav">Booking</a>
                    <a id='room-sub-nav' class="btn btn-default sub-nav">Rooms</a>
                    <a id="equip-sub-nav" class="btn btn-default sub-nav">Equipment</a>
                </div>
                <div class="navigation-view-edit pull-right" style="margin-top:10px;">
                    <button type="button" class="btn btn-default">Edit queue</button>
                    <button type="button" class="btn btn-danger">Close job</button>
                </div>
            </div>
            <!-- main app -->
            <div class="main-app">
            </div>
            <!-- main room -->
            <div class='main-app-room' style="display:none;">
                <div class="main-content-room" style="margin-top:30px;">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs-room" role="tablist">
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content tab-content-room">
                    </div>
                </div>
            </div>
            <!-- main equipment -->
            <div class='main-app-equipment' style="display:none;">
                <div class="main-content-equipment" style="margin-top:30px;">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" id="nav-tabs-equipment">
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content" id="tab-content-equipment">
                    </div>
                </div>
            </div>
        </div>
        <script src="../javascripts/jquery-1.11.3.min.js"></script>
        <script src="../bootstrap-3.3.4-dist/js/bootstrap.js"></script>
        <script src="../javascripts/navigation.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="../javascripts/jquery-ui.multidatespicker.js"></script>
        <script src="../javascripts/main_edit.js"></script>
    </body>
</html>