<div class="main-content-equipment" style="margin-top:20px;">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-tabs-equipment" role="tablist"></ul>
    <!-- Tab panes -->
    <div class="tab-content tab-content-equipment">
    </div>
</div>
<div class="form-group">
    <div class="col-sm-12">
        <div class='alert alert-danger alert-dismissible fade in alert-trigger' role='alert'>
            <button type='button' class='close closex' aria-label='Close'>
                <span aria-hidden='true'>×</span></button>
            <h4>Please select date !</h4>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-12">
        <ul class="pull-right">
            <li style="display: inline; padding-right: 10px;">
                <button type="button" id="submit_queue" class="btn btn-default submit_queue">Submit</button>
            </li>
        </ul>
    </div>
</div>
        <script src="../javascripts/equipment_new_queue.js"></script>