<div class="main-content-room" style="margin-top:20px;">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-tabs-room" role="tablist">
        <li class="add-room">
            <a href="#" data-toggle="tab">
                + add room
            </a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content tab-content-room">
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <ul class="pull-right">
                <li style="display: inline; padding-right: 10px;">
                    <button type="button" id="next_current_equipment" class="btn btn-default next_room" style="width:100px;">
                    Next
                    </button>
                </li>
                <li style="display: inline; padding-right: 10px;">
                    <button type="button" id="submit_queue" class="btn btn-default submit_queue">Submit</button>
                </li>
            </ul>
        </div>
    </div>
</div>
