  table.ui-datepicker-calendar {border-collapse: separate;}
  .ui-datepicker-calendar td {border: 1px solid transparent;}
  .ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
  background: #888888 none; /* a color that fits the widget theme */
  color: white; /* a color that is readeable with the color above */
}
.alert-trigger{
  position: absolute;
  width: 300px;
  top:-100px;
right:0;
display:none;
}
#basic-addon1{
    cursor: pointer;
}
.button_increase{
float: right; cursor: pointer;-webkit-user-select: none;
}
.button_decrease{
	float: right; 
	cursor: pointer;
	webkit-user-select: none;
}
.queue_data{
}

.value_equip{
	width: 25px;height: 25px; text-align: center; float: right; margin: 0 10px;
}
/** The Magic **/
.btn-breadcrumb .btn:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 60px 6px 60px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}


/** Default button **/
.btn-breadcrumb .btn.btn-default:after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:before {
  border-left: 10px solid #adadad;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:after {
  border-left: 10px solid #428bca;
}
.btn-breadcrumb .btn.btn-primary:before {
  border-left: 10px solid #357ebd;
}
.btn-breadcrumb .btn.btn-primary:hover:after {
  border-left: 10px solid #3276b1;
}
.btn-breadcrumb .btn.btn-primary:hover:before {
  border-left: 10px solid #285e8e;
}

/** Success button **/
.btn-breadcrumb .btn.btn-success:after {
  border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:before {
  border-left: 10px solid #4cae4c;
}
.btn-breadcrumb .btn.btn-success:hover:after {
  border-left: 10px solid #47a447;
}
.btn-breadcrumb .btn.btn-success:hover:before {
  border-left: 10px solid #398439;
}

/** Danger button **/
.btn-breadcrumb .btn.btn-danger:after {
  border-left: 10px solid #d9534f;
}
.btn-breadcrumb .btn.btn-danger:before {
  border-left: 10px solid #d43f3a;
}
.btn-breadcrumb .btn.btn-danger:hover:after {
  border-left: 10px solid #d2322d;
}
.btn-breadcrumb .btn.btn-danger:hover:before {
  border-left: 10px solid #ac2925;
}

/** Warning button **/
.btn-breadcrumb .btn.btn-warning:after {
  border-left: 10px solid #f0ad4e;
}
.btn-breadcrumb .btn.btn-warning:before {
  border-left: 10px solid #eea236;
}
.btn-breadcrumb .btn.btn-warning:hover:after {
  border-left: 10px solid #ed9c28;
}
.btn-breadcrumb .btn.btn-warning:hover:before {
  border-left: 10px solid #d58512;
}

/** Info button **/
.btn-breadcrumb .btn.btn-info:after {
  border-left: 10px solid #5bc0de;
}
.btn-breadcrumb .btn.btn-info:before {
  border-left: 10px solid #46b8da;
}
.btn-breadcrumb .btn.btn-info:hover:after {
  border-left: 10px solid #39b3d7;
}
.btn-breadcrumb .btn.btn-info:hover:before {
  border-left: 10px solid #269abc;
}