<div class='form-group'>
    <div class='col-sm-2'></div>
    <div class='col-sm-5'>
        <input type='text' class='form-control' id='assistant_form' name='assistant_form'
               placeholder='Assistant name ...'>
    </div>
    <div class='col-sm-1'>
        <button type='button' class='btn btn-default delete_assistant' id='delete_assistant'>-</button>
    </div>
</div>