<form class='form-inline' style='margin-bottom:15px;'>
    <div class='form-group' style='margin-right:30px;'>
        <label class='control-label'>Equipment set: </label>
        <select class='form-control equipment-set' id='equipment-set' name='equipment-set'>
            <option>No lighting</option>
            <option>With lighting Prophoto</option>
            <option>With lighting Broncolor</option>
        </select>
    </div>
    <div class='form-group' style='margin-right:30px;'>
        <button type='button' class='btn btn-default btn-hide' style='width:120px;'>Show all</button>
    </div>
</form>